<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Página de Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    {% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        <div class="message">{{ mensagens[0] }}</div>
      {% endif %}
    {% endwith %}

    <form method="POST">
      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" name="usuario" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Entrar</button>
      
    </form>
<button onclick='window.location.href="{{ url_for("cadastro") }}"' class="btn-cadastrar">Cadastrar</button>

  </div>
</body>
</html>

<!--testando-->
